ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

li {
  display: block;
  width: 120px;
  line-height: 50px;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #eee;
  border-radius: 4px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.active {
  background-color: #cfd8dc;
  transform: scale(1.1);
}
.inactive {
  background-color: #eee;
  transform: scale(1);
}

.buttons {
  text-align: center;
}
button {
  padding: 1.5em 3em;
}
.columns {
  display: flex;
  flex-direction: row;
}
.column {
  flex: 1;
  padding: 10px;
}
.column p {
  min-height: 6em;
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/